*
  margin: 0
  padding: 0

.box
  height: 100vh
  // background-color red
  overflow-y: scroll
  padding-top: 50px
  box-sizing: border-box
  background: linear-gradient(to bottom, #e66465, #9198e5)

  .title
    height: 50px
    width: 100%
    font-size: 18px
    line-height: 50px
    text-align: center
    background-color: #fff
    font-weight: 800
    position: fixed
    top: 0
    border-bottom: 1px solid rgb(219, 218, 218)
    z-index: 99

  .item
    height: 200px
    margin: 20px 20px 0
    background-color: #fff
    border-radius: 8px
    padding: 16px
    box-sizing: border-box
    display: flex
    flex-direction: column

    .type
      font-size: 18px
      height: 40px
      line-height: 40px
      padding-left: 30px
      font-weight: 600
      background-color: rgb(230, 230, 230)
      position: relative

      &::before
        content: ''
        display: block
        position: absolute
        width: 10px
        height: 30px
        top: 5px
        left: 10px
        background-color rgb(167, 167, 167)

    .time
      flex: 1
      display: flex
      justify-content: center
      align-items: center

      div
        display: flex
        align-items: baseline

        .day, .hour, .minute
          font-size: 26px

        .day-unit, .hour-unit, .minute-unit
          font-size: 14px
          margin: 0 4px